.brands {
    padding: 32px 0;

    .brand-slider_container {
        .slick-list {
            padding: 10px 0;

            .slick-slide {
                padding-right: 20px;

            }
        }

        .slick-prev {
            left: -10px;
            top: 37px;

            &::before {
                content: "";

            }
        }

        .slick-next {
            top: 37px;
            right: 30px;

            &::before {
                content: "";
            }
        }



        .brand-slider {
            padding: 0;
        }
    }
}